<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Quản Lý Nhân Sự</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="/stylesheets/index.css">
</head>
<body>
    <div class="container">
        <div class="banner">
            <div class="bg-group">
                <div class="bg"></div>
                <div class="bg"></div>
                <div class="bg">
                    <h5>Quản Lý Nhân Sự </h5>
                    <h1>18AVL</h1>
                </div>
                <div class="bg"></div>
                <div class="bg"></div>
            </div>
        </div>
        <div class="tab tab1">
            <div class="content">
                <h5>Giới Thiệu Chung</h5>
                <h2>Quản Lý Nhân Sự</h2>
                <div class="des">
                    Giúp tổ chức quản lý mọi khía cạnh liên quan đến nhân sự, quản lý phòng ban, quản lý lương, thêm tài khoản
                </div><br>
<div class="row header-top">
        <div class="horizontal-menu">
            <a class="navbar-brand" href="/">Home</a>
            <div class="dropdown">
                <a class="nav-link dropdown-toggle" href="#" role="button" id="navbarDropdown" data-bs-toggle="dropdown" aria-expanded="false">
                    Chức Năng
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <a class="dropdown-item" href="staffmanage">Quản lý nhân sự</a>
                    <a class="dropdown-item" href="departments">Quản lý phòng ban</a>
                    <a class="dropdown-item" href="salary">Quản lý lương</a>
                    <a class="dropdown-item" href="newAccount">Thêm tài khoản</a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" href="quit">Thoát</a>
                </div>
            </div>
            <form class="d-flex">
                <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
                <button class="btn btn-outline-success" type="submit">Search</button>
            </form>
        </div>
    </div>
            </div>
        </div>
        <div class="tab tab2">
            <div class="content">
                <h5>Quản Lý Nhân sự</h5>
                <h2>18AVL Dev</h2>
                <div class="des">
                    <div>
                        Phạm Tiến Đạt<br>
                        Trần Nguyễn Trọng Nghĩa<br>
                        Đặng Văn Ý<br>
                       
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script src=/javascripts/landing.js></script>
</body>
</html>