<!DOCTYPE html>
<html>

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>
    QLNS
  </title>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
  <link rel='stylesheet' href='/stylesheets/style.css' />
</head>

<body>
  <div class="container">
    <header>
      <div class="appname col-md-6 offset-md-3">
        <h3>QUẢN LÝ NHÂN SỰ</h3>
      </div>
      <div class="row header-top">

        <nav class="navbar navbar-expand-lg narbar-light bg-info">
          <div class="container-fluid">

            <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
              data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
              aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
              <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                  <a class="nav-link active" aria-current="page" href="/">Home</a>
                </li>

                <li class="nav-item dropdown">
                  <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                    data-bs-toggle="dropdown" aria-expanded="false">
                    Chức Năng
                  </a>
                  <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <li><a class="dropdown-item" href="staffmanage">Quản lý nhân sự</a></li>
                    <li><a class="dropdown-item" href="departments">Quản lý phòng ban</a></li>
                    <li><a class="dropdown-item" href="salary">Quản lý lương</a></li>
                    <li><a class="dropdown-item" href="newAccount">Thêm tài khoản</a></li>
                    <li>
                      <hr class="dropdown-divider">
                    </li>
                    <li><a class="dropdown-item" href="quit">Thoát</a></li>
                  </ul>
                </li>
              </ul>
              <form class="d-flex">
                <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
                <button class="btn btn-outline-success" type="submit">Search</button>
              </form>
            </div>
          </div>
        </nav>

      </div>
    </header>
    <main class="col-lg-4 offset-lg-4 col-md-4 offset-md-4">
        <div class="title-funtion text-center">
            Thêm tài khoản
        </div>
        <form action="/postNewAccount" method="post" class="row g-3 mt-3">
            <div class="col-10 offset-md-1">
                <label for="id" class="form-label">Mã Nhân Viên</label>
                <input type="text" class="form-control" id="id" name="id">
              </div>
            <div class="col-10 offset-md-1">
              <label for="username" class="form-label">Username</label>
              <input type="text" class="form-control" id="ho_ten" name="username">
            </div>
            <div class="col-10 offset-md-1">
              <label for="password" class="form-label">Password</label>
              <input type="password" class="form-control" id="tuoi" name="password">
            </div>
            <div class="col-10 offset-md-1">
              <button type="submit" class="btn btn-primary">Thêm</button>
            </div>
          </form>
    </main>

    <footer>

    </footer>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.min.js"
      integrity="sha384-cVKIPhGWiC2Al4u+LWgxfKTRIcfu0JTxR+EQDz/bgldoEyl4H0zUF0QKbrJ0EcQF"
      crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/jquery-3.7.1.js"
      integrity="sha256-eKhayi8LEQwp4NKxN+CfCh+3qOVUtJn3QNZ0TciWLP4=" crossorigin="anonymous"></script>
</body>
</div>

</html>